// Mixins

@mixin placeholder {
  &.placeholder {
    @content
  }
  &:-moz-placeholder {
    opacity: 1;
    @content
  }
  &::-webkit-input-placeholder {
    @content
  }
  &::-moz-placeholder {
    opacity: 1;
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

// List style:none
@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

// Clearfix
@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

// Breakpoints mixins

@mixin laptop() {
    @media screen and (max-width: 996px) {
        @content;
    }
}

@mixin phones() {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin xs-phones {
    @media screen and (max-width: 600px) {
        @content;
    }
}



// Retina images
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2){
    @content
  }
}



// Common Styles
body {
  background: #FFF;
  font-family: 'Avenir','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.page {
  width: 100%;
}


.section {
  padding-top: 94px;
  padding-bottom: 200px;
  border: 1px solid #eee;
  @include phones {
    padding-bottom: 100px;
    padding-top: 90px;
  }
  &__in {
    max-width: 1170px;
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    font-size: 46px;
    font-weight: 300;
    line-height: 54px;
    color: #333;
    margin-top: 0;
    margin-bottom: 0;
    &--white {
      color: #FFF;
    }
    @include phones {
      font-size: 30px;
      line-height: 38px;
      padding: 0 30px;
    }
  }
  &__content {

  }
}


// Hero styles

.hero {
  background-color: #444e5f;
  background-image: linear-gradient(180deg, #444e5f 0%, #576275 100%);
  padding-top: 118px;
  @include cf;
  @media screen and (max-width: 930px) {
    padding-top: 46px;
  }
  &__img {
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../img/macbook.png) 100% 0 no-repeat;
    @include laptop {
      width: 45%;
    }
    @media screen and (max-width: 930px) {
      position: static;
      height: 234px;
      width: 100%;
    }
    @media screen and (max-width: 480px) {
      height: 214px;
      background: url(../img/macbook-small.png) 100% 0 no-repeat;
    }
  }
  &__content {
    padding-left: 50%;
    width: 50%;
    position: relative;
    text-align: left;
    @include laptop {
      width: 55%;
      padding-left: 45%;
    }
    @media screen and (max-width: 930px) {
      width: 100%;
      padding-right: 30px;
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      padding-right: 30px;
      box-sizing: border-box;
    }
  }
  &__contentin {
    padding-left: 96px;
    padding-top: 30px;
    padding-bottom: 116px;
    display: inline-block;
    max-width: 537px;
    @include laptop {
      padding-left: 40px;
    }
    @media screen and (max-width: 930px) {
      display: block;
      padding-bottom: 74px;
      padding-left: 30px;
      padding-top: 0;
      padding-bottom: 40px;
    }
    @media screen and (max-width: 480px) {
      padding-bottom: 74px;
    }
  }
  &__logo {
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    &:before {
      content: '';
      background: url('../img/icons/logo-icon.png') 0 0 no-repeat;
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 14px;
      @include retina {
        background: url('../img/icons/logo-icon@2x.png') 0 0 no-repeat;
        background-size: 50px 50px;
      }
    }
    @include phones {
      line-height: 33px;
    }
  }
  &__heading {
    font-size: 46px;
    font-weight: 300;
    letter-spacing: -0.33px;
    line-height: 55px;
    color: #FFF;
    margin-top: 42px;
    margin-bottom: 16px;
    @media screen and (max-width: 930px) {
      margin-top: 30px;
    }
    @include phones {
      margin-top: 42px;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: -0.19px;
      line-height: 42px;
    }
  }
  &__text {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 30px;
    color: rgba(#d0e5ff,.72);
    margin-top: 0;
    margin-bottom: 0;
  }
  &__download {
    margin-top: 42px;
  }
}


// Download button
.download {
  &__btn {
    display: block;
    position: relative;
    cursor: pointer;
    width: 274px;
    height: 58px;
    background-color: #1a82ff;
    border: 1px solid #4A90E2;
    border-radius: 4px;
    text-align: center;
    line-height: 58px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #FFF;
    text-transform: uppercase;
    vertical-align: middle;
    transition: all .3s ease;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 34px;
      background-image: url(../img/icons/apple-icon.png);
      position: relative;
      top: -5px;
      margin-right: 13px;
      @include retina {
        background-image: url(../img/icons/apple-icon@2x.png);
        background-size: 28px 34px;
      }
    }
    &:hover, &:active, &:focus {
      background-color: lighten(#1a82ff,5%);
    }
  }
  &__label {
    color: rgba(#d0e5ff, 0.6);
    font-size: 13px;
    letter-spacing: 0.15px;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 16px;
  }
}


// How it works section
.howitworks {
  &__items {
    @include nl;
    margin-top: 73px;
    font-size: 0;
    @include phones {
      margin-top: 60px;
    }
  }
  &__item {
    width: 33.3333%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    padding: 0 15px;
    @include phones {
      display: block;
      width: 100%;
      padding: 0 30px;
      margin-top: 120px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.hiw-item {
  &__screen {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__number {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #eee;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
    &:before {
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      margin-top: 15px;
      z-index: -1;
      background: #eee;
      position: absolute;
      display: none;
      @include phones {
        display: block;
      }
    }
    &--first:before {
      display: block;
    }
  }
  &__heading {
    margin-top: 57px;
    margin-bottom: 12px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    @include phones {
      margin-top: 36px;
    }
  }
  &__text {
    color: rgba(#000, .8);
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    max-width: 312px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    @include phones {
      display: block;
      margin: 0 auto;
    }
  }
}

// Usage section

.usage {
  background: #fafafa;
}

.usage-slider {
  margin-top: 72px;
  font-size: 0;
  &__slide {
    display: inline-block;
    vertical-align: top;
    width: 33.3333333%;
    box-sizing: border-box;
    padding: 0 15px;
    &:nth-child(n+4){
      margin-top: 100px;
      @include phones {
        margin-top: 0;
      }
    }
    @include phones {
      display: block;
      width: auto;
    }
  }
}

.usage-item {
  text-align: center;
  &__screen {
    max-width: 360px;
    height: auto;
    display: block;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__heading {
    margin-top: 20px;
    margin-bottom: 12px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }
  &__text {
    color: rgba(#000, .8);
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    max-width: 312px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}


// Features section
.features-list {
  margin-top: 72px;
  font-size: 0;
  @include phones {
    margin-top: 60px;
  }
}

.feature {
  display: inline-block;
  width: 33.33333333%;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 15px;
  @include phones {
    padding: 0 30px;
    width: 100%;
    display: block;
    margin-top: 40px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__icon {
    display: inline-block;
    &--sharable {
      width: 51px;
      height: 40px;
      margin-top: 7px;
    }
    &--secure {
      width: 36px;
      height: 46px;
    }
    &--customized {
      width: 35px;
      height: 40px;
      margin-top: 6px;
    }
  }
  &__heading {
    margin-top: 36px;
    margin-bottom: 9px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    @include phones {
      margin-bottom: 12px;
      margin-top: 20px;
    }
  }
  &__text {
    color: rgba(#000, .8);
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    max-width: 312px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Reviews section

.reviews {
  background: #444E5F;
}

.reviews-slider {
  margin-top: 72px;
  font-size: 0;
  @include phones {
    margin-top: 60px;
  }
  &__slide {
    box-sizing: border-box;
    width: 33.33333333%;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    &:first-child {
      padding-left: 15px;
    }
    &:last-child {
      padding-right: 15px;
    }
    @include phones {
      width: auto;
      display: block;
      padding: 0 15px;
    }
  }
}

.review {
  display: block;
  width: 100%;
  text-align: center;
  background: #FFF;
  max-width: 380px;
  margin-top: 20px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.04);
  @include phones {
    padding: 40px 36px;
    margin: 0 auto;
  }
  &--big {
    margin-top: 0;
    padding: 60px 50px;
    @include phones {
      padding: 40px 36px;
    }
  }
  &__photo {
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    margin-left: 0;
    margin-right: 0;
    color: rgba(#000, .8);
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    max-width: 312px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 0;
  }
  &__name {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 42px;
    margin-bottom: 0;
  }
  &__position {
    color: #1a82ff;
    opacity: .8;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 6px;
    margin-bottom: 0;
  }
}

// Watch in action section

.inaction {
  text-align: center;
  &__video {
    max-width: 960px;
    width: 90%;
    padding-bottom: 56.25%;
    margin: 0 auto;
    height: 0;
    position: relative;
    margin-top: 72px;
    @include phones {
      margin-top: 60px;
      width: 95%;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.downloadit {
  background-color: #444e5f;
  border: 0;
  text-align: center;
  padding-bottom: 80px;
  &__download {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 72px;
    @include phones {
      display: none;
    }
  }
  &__quote {
    margin: 0;
    color: rgba(#d0e5ff,.72);
    font-size: 17px;
    line-height: 30px;
    padding: 0 15px;
  }
  &__quotetext {
    margin: 0;
  }
}

.download-form {
  margin-bottom: 40px;
  margin-top: 46px;
  padding: 0 30px;
  display: none;
  @include phones {
    display: block;
  }
  &__welcome {
    color: rgba(#d0e5ff,.72);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 30px;
  }
  &__mail {
    height: 55px;
    background-color: white;
    border-radius: 4px;
    line-height: 55px;
    padding: 0 19px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border: 0;
    @include placeholder {
      color: rgba(#000, .6);
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.2px;
      line-height: 55px;
    }
    &:focus {
      @include placeholder {
        color: transparent;
      }
    }
  }
  &__submit {
    width: 100%;
    height: 45px;
    background-color: #1a82ff;
    border: 1px solid #4A90E2;
    border-radius: 4px;
    outline: 0;
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    transition: all .3s ease;
    &:hover {
      background-color: lighten(#1a82ff,5%);
      cursor: pointer;
    }
  }
  &__additional {
    text-align: center;
    margin-top: 40px;
  }
  &__link {
    color: rgba(#d0e5ff, .6);
    font-size: 13px;
    letter-spacing: 0.15px;
    line-height: 30px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.footer {
  background-color: #444e5f;
  @include xs-phones {
    padding-bottom: 82px;
  }
  &__in {
    box-sizing: border-box;
    padding: 0 15px;
    border-top: 1px solid rgba(#d0e5ff,.2);
    @include cf;
    padding-top: 37px;
    padding-bottom: 31px;
    @include xs-phones {
      padding: 0;
      border: 0;
    }
  }
  &-nav {
    width: 50%;
    float: right;
    text-align: right;
    @include xs-phones {
      float: none;
      width: 100%;
    }
  }
  &__madeby {
    width: 50%;
    float: left;
    @include xs-phones {
      float: none;
      width: 100%;
      margin-top: 82px;
      text-align: center;
    }
  }
  &-menu {
    @include nl;
    display: inline-block;
    @include xs-phones {
      display: block;
      text-align: center;
    }
    &__item {
      display: inline-block;
      margin-left: 64px;
      &:first-child {
        margin-left: 0;
      }
      @include xs-phones {
        display: block;
        margin-left: 0;
      }
      @include xs-phones {
        padding: 20px 15px;
        border-bottom: 1px solid rgba(#d0e5ff, .2);
        &:first-child {
          border-top: 1px solid rgba(#d0e5ff, .2);
        }
      }
    }
    &__link {
      display: block;
      text-decoration: none;
      color: rgba(#d0e5ff,.8);
      font-size: 14px;
      font-weight: 300;
      line-height: 23px;
      transition: color .3s ease;
      &:hover,&:focus, &:active {
        color: rgba(#d0e5ff, .6);
      }
    }
  }
}

.madeby {
  color: rgba(#d0e5ff, .8);
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  margin: 0;
  &__img {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__link {
    text-decoration: none;
    color: rgba(#d0e5ff,.8);
    transition: color .3s ease;
    display: inline-block;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #acc2dc;
      opacity: 0.28;
      transition: opacity .3s ease;
      position: relative;
      top: -2px;
    }
    &:hover {
      text-decoration: none;
      color: rgba(#d0e5ff, .6);
      &:after {
        opacity: 0;
      }
    }
  }
}

.usage-slider {
  // Slider styles
  .slick-dots {
    text-align: center;
    @include nl;
    margin-top: 64px;
    li {
      display: inline-block;
       margin-left: 20px;
       &:first-child {
         margin-left: 0;
       }
    }
    button {
      width: 8px;
      height: 8px;
      background-color: rgba(#12181d,0.2);
      border-radius: 50%;
      padding: 0;
      border: 0;
      outline: 0;
      box-shadow: none;
    }
  }

  .slick-active {
    button {
      width: 19px;
      height: 19px;
      background: #1A82FF;
      box-sizing: content-box;
      border: 6px solid #FAFAFA;
      box-shadow: 0 0 0 1px rgba(#1A82FF, 0.2);
    }
  }
}

.reviews-slider {
  .slick-cloned {
    height: 0;
  }
  // Slider styles
  .slick-dots {
    text-align: center;
    @include nl;
    margin-top: 64px;
    li {
      display: inline-block;
       margin-left: 14px;
       &:first-child {
         margin-left: 0;
       }
    }
    button {
      width: 8px;
      height: 8px;
      background-color: rgba(#12181d,0.2);
      border-radius: 50%;
      padding: 0;
      border: 0;
      outline: 0;
      box-shadow: none;
    }
  }

  li.slick-active {
    button {
      width: 19px;
      height: 19px;
      background: #fff;
      box-sizing: content-box;
      border: 6px solid #444E5F;
      box-shadow: 0 0 0 1px rgba(#fff, 0.2);
    }
  }
}